
main{
    width: 100%;
}


.content-menu{
    width: 120px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #e60012;
}

.content-menu li{
    list-style: none;
    text-align: center;
    padding: 10px;
    color: white;
    transition: all 300ms;
}

.content-menu li:hover{
    transform: translateY(10px);
    background: rgba(172, 8, 8, 0.288);
}

.content-menu li span{
    font-size: 40px;
}

.content-menu li h4{
    font-weight: 100;
    text-align: center;
    transform: translateY(4px);
}

#tablasPosiciones {
    float:left;
    width: 500px;
}

#mapaSiguiente {
    width: 600px;
    height: 300px;
    position: absolute;
    left: 700px;
    top: 700px;
}

body {
    /* Location of the image */
    background-image: url(../img/slides/background.jpg);
    
    /* Background image is centered vertically and horizontally at all times */
    background-position: center center;
    
    /* Background image doesn't tile */
    background-repeat: no-repeat;
    
    /* Background image is fixed in the viewport so that it doesn't move when 
       the content's height is greater than the image's height */
    background-attachment: fixed;
    
    /* This is what makes the background image rescale based
       on the container's size */
    background-size: cover;
    
    /* Set a background color that will be displayed
       while the background image is loading */
   /* background-color: white;*/
 
}

.contenedor {
    display: flex;
    width: 100%;
}

  .tales {
    width: 100%;
}

  .carousel-inner{
    width:100%;
    max-height: 600px !important;
}

.img-responsive{
      display:block;
      height:600px;
      width:100%;
}

.navbar-brand,
.navbar-nav li a {
    line-height: 50px;
    height: 70px;
    padding-top: 0;
}

#nintendoLogo {
    width: auto;
    height: 60px;
}

#curse{
    width: auto;
    height: 60px;
    padding-left: 15px;
}

.navbar-custom {
    background-color: #e60012;
    
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgb(255, 255, 255);
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgb(0, 0, 0);
    text-indent: 20px;
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}


